.cols {

}

.cols__img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.cols__centered {

}

.cols__txt {

}

.cols__txt_size_small {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 20px;
}

.cols__txt_style_italic {
    font-style: italic;
}

.cols__red {
    color: #c00000;
}
