.section {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
}

.section__title {
    font-family: 'Kettering 105 W00', sans-serif;
    font-size: 30px;
    color: #bd0000;
    text-align: center;
    margin: 50px 0 10px;
}

.section__description {
    font-size: 18px;
    line-height: 130%;
    margin: 0 0 40px;
    padding: 0 160px;
}

.section__button {
    margin: 35px auto 65px;
}

.section__subtitle {
    font-family: 'Kettering 105 W00', sans-serif;
    color: #bd0000;
    font-size: 24px;
    margin: 20px 0 5px;
}

.section__item {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 20px;
    text-align: left;
}

.section__item span {
    text-transform: uppercase;
    color: #c00000;
}

@media only screen and (max-width: 992px) {
    .section__description {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 768px) {
    .section__button .button__text {
        padding: 2px 2px 0;
    }
}

@media only screen and (max-width: 480px) {
    .section__button {
        border-radius: 4px;
    }

    .section__button .icon {
        display: none;
    }

    .section__button .button__text {
        font-size: 10px;
    }
}
