[class^="icon_"], [class*=" icon_"] {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon:after {
    display: none;
}

.icon_type_envelope:before {
    content: "\e61d";
}

.icon_type_men:before {
    content: "\e607";
}

.icon_type_menu:before {
    content: "\e615";
}

.icon_type_volume-up:before {
    content: "\e618";
}

.icon_type_tv:before {
    content: "\e616";
}

.icon_type_paper:before {
    content: "\e617";
}

.icon_type_you-tube:before {
    content: "\e60c";
}

.icon_type_file:before {
    content: "\e61a";
}

.icon_type_tw:before {
    content: "\e61e";
}

.icon_type_fb:before {
    content: "\e60e";
}

.icon_type_in:before {
    content: "\e61b";
}

.icon_type_play:before {
    content: "\e619";
}

.icon_type_mobile:before {
    content: "\e61c";
}

.icon_type_arrow-down-thin:before {
    content: "\e612";
}

.icon_type_arrows:before {
    content: "\e601";
}

.icon_type_people-white:before {
    content: "\e602";
}

.icon_type_people-black:before {
    content: "\e603";
}

.icon_type_dots:before {
    content: "\e604";
}

.icon_type_book:before {
    content: "\e605";
}

.icon_type_search:before {
    content: "\e600";
}

.icon_type_in2:before {
    content: "\e60f";
}

.icon_type_tw2:before {
    content: "\e610";
}

.icon_type_fb2:before {
    content: "\e611";
}

.icon_type_arrow-down:before {
    content: "\e60d";
}

.icon_type_arrow-down2:before {
    content: "\e60b";
}

.icon_type_arrow-right:before {
    content: "\e60a";
}

.icon_type_thin-left:before {
    content: "\e613";
}

.icon_type_thin-right:before {
    content: "\e614";
}

.icon_color_white {
    color: #fff;
}

.icon_size_s {
    font-size: 12px;
}

.icon_style_red {
    color: white;
    background: #bd0000;
}
