.footer {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
    background: #F2F0EA;
}

.footer__container {

}

.footer__navbar {
    padding-bottom: 20px;
    border-bottom: 1px solid #969696;
}

.footer__title {
    font-family: 'Kettering 105 W00', sans-serif;
    font-size: 18px;
    color: #bd0000;
    font-weight: 300;
    margin: 20px 0 6px;
}

.footer__social {
    padding: 20px 0 0;
}

.footer__copy {
    font-size: 13pt;
    margin: 0 auto 20px;
    color: #424242;
}
