.footer {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
    background: #F2F0EA;
}

.footer__container {

}

.footer__navbar {
    padding-bottom: 20px;
    border-bottom: 1px solid #969696;
}

.footer__navbar:after,
.footer__navbar:before {
    content: " ";
    clear: both;
    display: table;
}

.footer__title {
    font-family: 'Kettering 105 W00', sans-serif;
    font-size: 18px;
    color: #bd0000;
    font-weight: 300;
    margin: 20px 0 10px;
    line-height: 1.1;
}

.footer__social {
    padding: 20px 0 0;
}

.footer__copy {
    font-size: 13pt;
    margin: 0 auto 20px;
    color: #424242;
}

.footer__mobile {
    display: none;
}

.footer__mobile .form {
    margin: 30px 0 0;
}

.footer__mobile .menu {
    display: block;
    float: none;
    margin: 40px auto 20px;
}

@media only screen and (max-width: 1199px) {
    .footer__mobile .menu .link {
        padding: 1px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .footer__navbar {
        display: none;
    }

    .footer__mobile {
        display: block;
    }

    .footer__mobile .link {
        border-bottom: 1px solid #424242;
    }

    .footer__copy {
        font-style: italic;
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .footer__mobile .input__control {
        width: 165px;
    }
}
