.button {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: inline-block;
    border: 1px solid #bd0000;
    white-space: nowrap;
    background: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    cursor: pointer;
    vertical-align: middle;
    padding: 0;
    margin: 0 0 0 10px;
}

.button__control {
}

.button__text {
    font-size: 16px;
    color: #bd0000;
    display: inline-block;
    float: left;
    padding: 7px 16px;
    line-height: 22.8571434020996px;
    font-family: 'Museo Sans W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.button:active {
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.button.active,
.button:active,
.button:focus {
    outline: 0;
    text-decoration: none;
    color: #bd0000;
}

.button .icon {
    font-size: 20px;
    line-height: 39px;
}

/* Red btn start */
.button_color_red {
    background: #bd0000;
    border-color: #890001;
}

.button_color_red .button__text {
    color: #fff;
}

.button_color_red:active {
    background: #ae0000;
    color: #fff;
}

.button_color_red:active .button__text {
    background: #ae0000;
    color: #fff;
}

/* Red btn end */

/* Transparent btn start */
.button_color_transparent {
    background: transparent;
    border-color: white;
    padding-right: 21px;
}

.button_color_transparent .button__text {
    color: #fff;
    padding-right: 9px;
}

.button_color_transparent:active {
    background: #ae0000;
    color: #fff;
}

.button_color_transparent .icon {
    color: #ffffff;
}

.button_color_transparent:active,
.button_color_transparent:focus {
    background: none;
    border-color: #ededed;
    color: #ededed;
}

/* Transparent btn end */

/* White btn start */
.button_bg_white {
    background: #f7f7f7;
}

/* White btn end */

.button_size_s {
    line-height: 1;
    border: none;
}

.button_size_s .button__text {
    font-size: 12px;
    padding: 6px 12px 7px;
    font-weight: 300;
    color: #fd1a1d;
    line-height: 1;
}

.button_size_s.active .button__text,
.button_size_s:active .button__text,
.button_size_s:focus .button__text {
    color: #bd0000;
}

.button_size_l {
    margin: 0;
}

.button_size_l .button__text {
    padding: 9px 20px;
}

.button_size_xl {
    border-radius: 4px;
}

.button_size_xl .button__text {
    font-weight: 700;
    padding: 2px 50px 0;
    font-size: 18px;
    height: 56px;
    line-height: 56px;
}

.button_size_xl .icon {
    font-size: 56px;
    line-height: 58px;
    width: 56px;
    height: 56px;
}

.button_icon_right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button_icon_left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button_border_strict {
    border-radius: 0;
}

.button_border_red {
    color: #bd0000;
    border: 1px solid #bd0000;
}
