.input {
}

.input__control {
    outline: none;
    line-height: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    background: 0 0;
    width: 250px;
    border: 1px solid #515151;
    padding: 0 20px;
    font-size: 12pt;
    color: #424242;
    font-style: italic;
    float: left;
    height: 38px;
}
