.input {
}

.input__control {
    outline: none;
    line-height: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    background: 0 0;
    width: 250px;
    border: 1px solid #515151;
    padding: 0 20px;
    font-size: 12pt;
    color: #424242;
    font-style: italic;
    float: left;
    height: 38px;
}

.input_size_s .input__control {
    padding: 5px 0 4px;
    line-height: 1;
    font-size: 12px;
    height: 25px;
    width: 192px;
    margin-top: 2px;
}

.input_type_transparent .input__control {
    background: transparent;
    border: 1px solid #ffffff;
}

.input_border_strict .input__control {
    border-radius: 0;
}
