.input {
    outline: none;
    line-height: 1;
}

.input_size_s {
    font-size: 12px;
    height: 25px;
}

.input__box {

}

.input__control {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    border: 1px solid white;
}

.input_size_s .input__control {
    padding: 5px 4px 4px;
    font-size: 12px;
    width: 182px;
}

.input_type_transparent .input__control {
    color: #fff;
    background-color: transparent;
}

.input__control:active {
    outline: none;
}

.input__control:focus {
    outline: none;
}
