.header {

}

.header_bg_red {
    background: #bd0000;
}

.header__subscribe {
    height: 47px;
}

.header__navbar {

}

.header__container {
    line-height: 47px;
}

.header__content {
    display: inline-block;
    font-size: 14px;
    margin: 0;
}

.header__content_color_white {
    color: #ffffff;
}

.header__form {
    display: inline-block;
    margin: -1px 0 0 45px;
    width: 260px;
    vertical-align: top;
}
