.header {

}

.header__subscribe {
    height: 47px;
}

.header__subscribe_bg_red {
    background: #bd0000;
}

.header__container {
    line-height: 47px;
}

.header__content {
    display: inline-block;
    font-size: 14px;
    margin: 0;
}

.header__content_color_white {
    color: #ffffff;
}

.header__form {
    display: inline-block;
    margin: -1px 0 0 44px;
    width: 260px;
    vertical-align: top;
}

.header__navbar {
    height: 62px;
}

.header__logo {
    display: inline-block;
    margin: 20px 0 0;
    overflow: hidden;
    line-height: 1;
}

.header__logo .image {
    width: 217px;
}

.header__menu {
    margin: 15px 0 0;
    vertical-align: top;
    float: right;
}

@media only screen and (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: white;
        width: 100%;
    }

    .header__menu {
        display: none;
    }

    .header__subscribe {
        display: none;
    }
}

@media only screen and (max-width: 1199px) {
    .header__logo {
        width: 139px;
    }
}

