.control-group {
    position: relative;
    display: table;
    border-collapse: separate;
    vertical-align: middle;
}

.control-group .input,
.control-group .button {
    display: table-cell;
}

.control-group .button {
    margin-left: -2px;
}

.control-group .input:last-of-type,
.control-group .button:last-of-type {
    border-radius: 0 6px 6px 0;
}

.control-group_with_icon .icon.icon_size_s {
    position: absolute;
    top: 19px;
    left: 5px;
}

.control-group_with_icon .input__control {
    padding-left: 25px;
}
