.modal {
}

.modal__content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal__header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #F5F2ED;
    min-height: 55px;
}

.modal__close {
    margin-top: -2px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    padding: 0;
    float: right;
    background: 0 0;
    border: 1px solid #bd0000;
    color: #bd0000;
}

.modal__close:hover,
.modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

.modal__body {
    position: relative;
    padding: 15px;
    display: inline-block;
    width: 100%;
}

.modal__title {
    font-family: 'Kettering 105 W00', sans-serif;
    font-size: 30px;
    color: #bd0000;
    text-align: center;
    margin: 10px 0 10px;
}

.modal__text {
    font-size: 18px;
    line-height: 130%;
    margin: 0;
}

.modal__form-wrap {

}

@media (min-width: 768px) {
    .modal__content {
        width: 600px;
        margin: 30px auto;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}
