.quote {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
    padding: 50px 0;
    background: #ebe4dc;
}

.quote__container {
    padding: 0 95px;
}

.quote__author-photo {
    width: 85px;
    float: left;
    border-radius: 8px;
    border: 2px solid #B7B1A9;
    text-align: center;
    overflow: hidden;
    margin-right: 15px;
}

.quote__photo {
    max-height: 100%;
    max-width: 100%;
}

.quote__txt {
    display: table-cell;
    font-size: 14px;
    color: #424242;
}

.quote__body {
    font-style: italic;
    line-height: 150%;
}

.quote__author {
    line-height: 150%;
    font-size: 16px;
}
