.menu {
    outline: none;
}

.menu:focus {
    outline: none;
}

.menu__control {

}

.menu-item {
    display: inline-block;
    float: left;
    padding: 10px 8.5px 10px 8px;
    line-height: 1;
}

.menu-item_type_link {
}

.menu-item_type_link .link {
    padding: 3px;
    font-size: 16px;
}

.menu_type_inline {
}

.menu-item_style_bordered {
    background: 0 0;
    border: 1px solid #404040;
    color: #424242;
    border-radius: 6px;
    margin-left: 17px;
}

.menu_type_vertical {
    display: inline-block;
    float: left;
}

.menu_type_vertical .menu-item {
    display: block;
    padding: 4px 0 3px;
    float: none;
}

.menu_type_vertical .menu-item .link {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-decoration: none !important;
    font-size: 13pt;
    color: #424242;
}

.menu_type_vertical .menu-item .link:hover {
    color: #171717;
}

