.input-group-btn {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    font-size: 0;
}

.input-group-btn__btn {
    position: relative;
}

.input-group-btn:last-child > .input-group-btn__btn {
    margin-left: -1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
