.btn {
    outline: 0;
}

.btn_color_white {
    border-color: #fff;
    color: #fff;
}

.btn_color_gray {
    background: 0 0;
    border-color: #404040;
    color: #424242;
}

.btn_color_red {
    background: #bd0000;
    color: #fff;
    border-color: #890001;
    float: right;
    margin-right: 10px;
}

.btn_color_transparent {
    border-color: #fff;
    color: #fff;
    background: none;
}

/* States */
.btn:focus,
.btn:hover {
    outline: 0;
}

.btn_color_gray:active,
.btn_color_gray:focus {
    border-color: #333;
}

.btn_color_red:hover {
    background: #c00;
    color: #fff;
}

.btn_color_red:active,
.btn_color_red:focus {
    background: #ae0000;
    color: #fff;
}

.btn_color_transparent:hover {
    border-color: #f2f2f2;
    color: #f2f2f2;
}

.btn_color_transparent:focus,
.btn_color_transparent:active {
    border-color: #ededed;
    color: #ededed;
}

.btn__text {
    float: left;
}

.btn-wrap {
    margin-bottom: 20px !important;
}

.btn-wrap_type_big {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -moz-background-clip: padding;
    border-radius: 4px 0 0 4px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: inline-block;
    margin: 40px auto 60px;
    border: 1px solid #bd0000;
    cursor: pointer;
}

.btn-wrap__btn {
    font-size: 13px;
    font-weight: 700;
    color: #bd0000;
    padding: 2px 50px 0;
    line-height: 38px;
    display: inline-block;
    float: left;
}

.btn-wrap__btn:hover {
    border-color: #d70000;
    color: #d70000;
    text-decoration: none;
}

.btn-wrap__btn_size_big {
    font-size: 18px;
    height: 56px;
    line-height: 56px;
}

.btn-wrap__arrow {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
    background: #bd0000;
}

.btn-wrap__arrow_size_big {
    width: 56px;
    height: 56px;
}

.btn_learn__icon {
    color: #fff;
    font-size: 26px;
    vertical-align: -16px;
}

.btn_learn__icon_size_big {
    font-size: 56px;
    line-height: 56px;
}

