.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-background-clip: padding;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.btn,
.btn:focus,
.btn:hover {
    outline: 0;
}

.btn.active,
.btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn_color_white {
    border-color: #fff;
    color: #fff;
}

.btn_color_gray {
    background: 0 0;
    border-color: #404040;
    color: #424242;
}

.btn-gray:active,
.btn-gray:focus {
    border-color: #333;
}

.btn_color_red {
    background: #bd0000;
    color: #fff;
    border-color: #890001;
    float: right;
    margin-right: 10px;
}

.btn_color_red:hover {
    background: #c00;
    color: #fff;
}

.btn_color_red:active,
.btn_color_red:focus {
    background: #ae0000;
    color: #fff;
}

.btn_color_transparent {
    border-color: #fff;
    color: #fff;
    background: none;
}

.btn_color_transparent:hover {
    border-color: #f2f2f2;
    color: #f2f2f2;
}

.btn_color_transparent:focus,
.btn_color_transparent:active {
    border-color: #ededed;
    color: #ededed;
}

.btn__text {
    float: left;
}

.btn-wrap {
    margin-bottom: 20px !important;
}

.btn-wrap_type_learn {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -moz-background-clip: padding;
    border-radius: 4px 0 0 4px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: inline-block;
    margin: 40px auto 60px;
    border: 1px solid #bd0000;
    cursor: pointer;
}

.btn-wrap__btn {
    font-size: 13px;
    font-weight: 700;
    color: #bd0000;
    padding: 2px 50px 0;
    line-height: 38px;
    display: inline-block;
    float: left;
}

.btn-wrap__btn_size_big {
    font-size: 18px;
    height: 56px;
    line-height: 56px;
}

.btn-wrap__arrow {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
    background: #bd0000;
}

.btn-wrap__arrow_size_big {
    width: 56px;
    height: 56px;
}

.btn_learn__icon {
    color: #fff;
    font-size: 26px;
    vertical-align: -16px;
}

.btn_learn__icon_size_big {
    font-size: 56px;
    line-height: 56px;
}

