.form {
}

.form_type_envelope {
    position: relative;
}

.form_location_header {
    display: inline-block;
    margin: 0 0 0 40px;
    width: 260px;
    vertical-align: -20px;
}

.form__input_group {
    position: relative;
    display: table;
    border-collapse: separate;
}
