.form {
    margin-top: 0;
}

.form__input {
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    background: 0 0;
    width: 250px;
    border: 1px solid #515151;
    padding: 0 0 0 20px;
    font-size: 12pt;
    color: #424242;
    font-style: italic;
    line-height: 22px;
    float: left;
    height: 38px;
}

.form-icon__input {
    padding-left: 37px;
}

.form__btn {
}

.form__icon {
    position: absolute;
    top: 11px;
    left: 8px;
    font-size: 16px;
}

.form_type_envelope {
    position: relative;
}

.form__btn_color_red {
    background: #bd0000;
    color: #fff;
}

.form__input_type_txt {
}
