.navbar {
    background: #fdfdfd;
}

.navbar_type_fix {

}

.navbar__container {

}

.navbar__navbar-toggle {
    position: relative;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    margin: 25px 10px 0 0;
    padding: 0;
    cursor: pointer;
}

.navbar__icon-menu {
    color: #bd0000;
    font-size: 26px;
}

.navbar__logo {
    display: inline-block;
    float: left;
    margin: 20px 0 0;
    overflow: hidden;
}

.navbar__logo-deck {
    width: 217px;
    height: 26px;
}

.navbar__logo-mob {
    width: 138px;
    height: 26px;
    display: none;
}

.navbar__navbar-collapse {
    width: 100%;
    padding: 0;
    margin: 0 !important;
    overflow: hidden;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0;
}

.navbar__navbar-collapse_state_collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
